.list-devices {
  margin-block: var(--spacing-xl);
  h2 {
    text-align: center;
  }

  .devices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-sm);
    margin-block: var(--spacing-xl);

    .device {
      display: flex;
      align-items: center;
      border: 1px solid var(--color);
      border-radius: 10px;
      padding: 0.5rem 0.6rem;
      text-align: center;
      background-color: var(--color);
      outline: 4px solid var(--color);
      outline-offset: 4px;

      p {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}
