.magic-kitchen {
  height: calc(100vh - 4rem);
  border: 1px solid rgba(240, 248, 255, 0.089);
  padding: var(--spacing-xs);

  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: var(--spacing-xs);

  .magic-kitchen__list-container {
    border-right: 1px solid rgba(240, 248, 255, 0.089);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    height: calc(100vh - 4rem);

    .magic-kitchen__search {
        padding-inline: var(--spacing-xs);

      input {
        width: 100%;
        height: 3rem;
        background-color: rgba(240, 248, 255, 0.089);
        border-radius: 999px;
        padding-inline: var(--spacing-xs);
      }
    }
  }

  .magic-kitchen__list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--spacing-xs);
    overflow-y: auto;
    padding-inline: var(--spacing-xs);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 20%);

    .magic-kitchen__item {
      border: 1px solid rgba(240, 248, 255, 0.089);
      border-radius: 20px;
      padding: var(--spacing-sm);
      background-color: var(--background);
    }
  }
}

.magic-kitchen__actions {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
    li {
      width: 100px;
      height: 2rem;
      background-color: rgba(240, 248, 255, 0.089);
      border-radius: 999px;
    }
  }

  .kitchen {
    width: 100%;
    aspect-ratio: 1;
    border: 1px dashed rgba(240, 248, 255, 0.2);
    border-radius: 999px;
    margin-block: var(--spacing-sm);
  }
}
